---
layout: default
---

<div class="home">

	<h1 class="page-heading">Posts</h1>

	<ul id="post_list" class="post-list">
		{% for post in paginator.posts %}
			<li>
				<div class="post-meta">
					<img src="{{ post.avatar.small }}" with="36" height="36" class="post-author-avatar" alt="{{ post.author }} avatar">
					<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span><br>
					<span class="post-author">{{ post.author }}</span>
				</div>
				<h2 class="post-title">
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h2>
				<div class="post-content">
					{{ post.excerpt | strip_html | strip_newlines }}
				</div>
				<a href="{{ post.url | prepend: site.baseurl }}">Continue reading...</a>
			</li>
		{% endfor %}
	</ul>
	{% if paginator.total_pages > 1 and paginator.page != paginator.total_pages %}
	<a href="{{paginator.next_page_path }}" class='js-load-more load-more' data-totalpages="{{ paginator.total_pages }}">Load More Posts</a>
	{% endif %}
</div>
