.site-footer {
	margin: ($spacing-unit * 2) 0 $spacing-unit;
} // .site-footer

// ====================================
// Footer Columns
// ====================================
.footer-col {
	@include span-columns(6);
} // .footer-col-1

.footer-col-2 {
	text-align: right;

	p {
		margin: 0;
	} // p
} // .footer-col-2
