// ======================================
// Home
// ======================================
.post-list {
	padding: 0;
	list-style: none;

	& > li {
		margin-bottom: $spacing-unit;
	} // &>li
} // .post-list

// ======================================
// Load More Posts
// ======================================
// .load-more {
// 	@include button-ghost;
// 	@include span-columns(6);
// 	@include shift(3);
// } // .load-more
