// Using media queries with like this:
// @include min-width($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin min-width($device) {
	@media screen and (min-width: $device) {
		@content;
	}
}

@mixin max-width($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

@mixin min-max-width($min, $max) {
	@media (min-width: $min) and (max-width: $max) {
		@content;
	}
}


@mixin link-interact {
	&:hover,
	&:active,
	&:focus {
		@content;
	}
} // @mixin link-interact

@mixin list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
} // @mixin list-unstyled

@mixin list-inline($spacing: ($spacing-unit/2)) {
	@include list-unstyled;
	@include clearfix;

	> li {
		margin-right: 0;
		clear: both;
		float: none;

		@include min-width(500px) {
			float: left;
			margin-right: $spacing;
			clear: none;
		} // @include min-width

		&:last-child {
			margin-right: 0;
		} // &:last-child
	} // > li
} // @mixin list-inline

@mixin flip-icon {
	.icon {
		transition: all .25s ease-out;
		perspective: 1000;
	} // .icon

	@include link-interact {
		.icon {
			transform: rotateY(360deg);
		} // .icon
	} // @include link-interact
} // @mixin flip-icon
