// ====================================
// Social/Share List
// ====================================
.share-list,
.social-media-list {
	@include list-inline;

	> li {
		margin-bottom: ($spacing-unit/2);

		@include min-width(800px) {
			margin-bottom: ($spacing-unit);
		} // @include bp-min(500px)
	} // > li

	a {
		@include flip-icon;

		@include link-interact {
			text-decoration: none;
			color: $font-color;

			path {
				fill: $brand-color;
			} // path
		} // @include link-interact
	} // a

	.icon--twitter,
	.icon--linkedin {
		top: -2px;
		position: relative;
	} // .icon-twitter,.icon--linkedin

	.icon--buffer {
		svg {
			transform: scale(1);
		} // svg
	} // .icon--buffer

	.icon--facebook {
		svg {
			margin-top: -2px;
			transform: scale(1.25);
		} // svg
	} // .icon--facebook
} // .social-media-list

// ====================================
// Share List
// ====================================
// .share-list
