---
layout: default
---
<div class="post">

	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
		<div class="post-meta">
			<img src="{{ page.avatar.small }}" with="36" height="36" class="post-author-avatar" alt="{{ page.author }} avatar">
			<span class="post-date">{{ page.date | date: "%b %-d, %Y" }}</span><br>
			<span class="post-author">{{ page.author }}</span>
		</div>
	</header>

  <article class="post-content">
    {{ content }}
  </article>
  {% include comments.html %}
  <br>
  <a href="/">&lt; Back to Blog</a>
</div>
