---
layout: default
---
<div class="post">
	<header class="post-header">
		{% if page.image.featured == nil %}
		<h1 class="post-title">{{ page.title }}</h1>
		{% endif %}
		<div class="post-meta">
			<img src="{{ page.avatar.small }}" with="36" height="36" class="post-author-avatar" alt="{{ page.author }} avatar">
			<span class="post-author">{{ page.author }}</span><br>
			<time datetime="{{ page.date }}" class="post-date">{{ page.date | date_to_string }}</time>
			{% include read_time.html %}
		</div>
	</header>

	<article class="post-content">
		{{ content }}
	</article>
	{% include share.html %}
	<div class="page-navigation has-back">
		<a href="{{ page.next.url }}" class="previous">Previous</a>
		<a href="/" class="back">Back</a>
		{% if page.series.url and page.series.label %}
		<a href="{{ page.series.url | uri_escape}}" class="next">{{ page.series.label }}</a>
		{% else if page.previous.url %}
		<a href="{{ page.previous.url }}" class="next">Next</a>
		{% endif %}
	</div>
</div>
