---
layout: default
---
<div class="post">

	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
		<div class="post-meta">
			<img src="{{ page.avatar.small }}" with="36" height="36" class="post-author-avatar" alt="{{ page.author }} avatar">
			<span class="post-date">{{ page.date | date: "%b %-d, %Y" }}</span><br>
			<span class="post-author">{{ page.author }}</span>
		</div>
	</header>

	<article class="post-content">
		{{ content }}
	</article>
	{% include comments.html %}
	<br>
	<div class="page-navigation">
		<a href="{{site.url}}" class="back-to-blog">&lt; Back to Blog</a>
		{% if page.series.url && page.series.label %}
		<a href="{{site.url}}{{ page.series.url | uri_escape}}" class="next-post">{{ page.series.label }} &gt;</a>
		{% else %}
		<a href="{{site.url}}{{ page.next.url }}" class="next-post">Next Post &gt;</a>
		{% endif %}
	</div>
</div>
